<div class="form-builder-component">
  <div class="font-bold text-2xl mb-8">
    Add a New Question
  </div>
  <form [formGroup]="questionForm" class="rounded-md grid-cols-1">
    <div class="font-bold">Question Type</div>

    <select formControlName="type"
      class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
      <option value="text">Text</option>
      <option value="checkbox">Checkbox</option>
    </select>

    <app-input class="block my-4" label="Question" placeholder="Type Question Here"
      formControlName="question"></app-input>

    <ng-container *ngIf="questionForm.get('type')?.value === 'checkbox'">
      <div formArrayName="options">
        <ng-container *ngFor="
            let question of options.controls;
            let i = index
          ">
          <div class="grid grid-cols-8" [formGroup]="question">
            <app-input class="block mb-4 col-span-5" label="Option" placeholder="Type Option Here"
              formControlName="option"></app-input>

            <button
              class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 rounded-full h-fit mt-auto mb-4 ml-2 col-span-3"
              (click)="removeOption(i)">
              Remove Option
            </button>
          </div>
        </ng-container>

        <button *ngIf="questionForm.get('options')?.value.length < 5"
          class="bg-none text-blue-500 font-bold py-2 rounded-full" (click)="addOption()">
          + Add Option
        </button>
      </div>

      <div class="grid grid-flow-col auto-cols-max mt-4">
        <input type="checkbox" id="allowOther" class="mr-2 leading-tight" formControlName="allowOther" />
        <label class="text-lg" for="allowOther">
          Allow user to specify their own answer
        </label>
      </div>
    </ng-container>

    <div class="grid grid-flow-col auto-cols-max mt-4">
      <input type="checkbox" id="required" class="mr-2 leading-tight" formControlName="required" />
      <label class="text-lg" for="required"> Required </label>
    </div>

    <button [disabled]="questionForm.invalid" [ngClass]="{
        'bg-gray-500 hover:bg-gray-700': questionForm.invalid,
        'bg-blue-500 hover:bg-blue-700': !questionForm.invalid
      }" class="text-white font-bold py-2 px-4 rounded-full mt-4 ml-auto block" (click)="addQuestion()">
      Add Question
    </button>
  </form>
</div>
